In [1]:
import cbpro
import pandas as pd
from pathlib import Path
import time 
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
import pytz
import itertools
from tkinter import *
from tkinter import ttk

client = cbpro.PublicClient()
client.get_product_trades(product_id='ETH-USD')

In [2]:
get_trades = client.get_product_trades(product_id='ETH-USD')

In [3]:
df = list(itertools.islice(get_trades, 2000000))

C:\Users\alcid\anaconda3\lib\site-packages\cryptography\hazmat\backends\openssl\x509.py:14: CryptographyDeprecationWarning: This version of cryptography contains a temporary pyOpenSSL fallback path. Upgrade pyOpenSSL now.
  warnings.warn(

In [4]:
df = pd.DataFrame(df)

In [5]:
df = pd.DataFrame(df[:-1])

In [6]:
df

,time,trade_id,price,size,side
0,2022-11-07T00:00:18.306096Z,379105559,1566.74000000,0.30000000,sell
1,2022-11-07T00:00:17.88177Z,379105558,1566.87000000,0.14650986,sell
2,2022-11-07T00:00:17.639791Z,379105557,1566.87000000,0.00698027,sell
3,2022-11-07T00:00:17.476259Z,379105556,1566.67000000,0.30000000,sell
4,2022-11-07T00:00:17.476259Z,379105555,1566.67000000,0.19151017,sell
...,...,...,...,...,...
1999994,2022-11-02T05:51:08.573635Z,377105565,1586.10000000,0.00000738,buy
1999995,2022-11-02T05:51:08.569566Z,377105564,1586.10000000,0.31636000,buy
1999996,2022-11-02T05:51:08.31782Z,377105563,1586.31000000,0.62745201,sell
1999997,2022-11-02T05:51:08.089593Z,377105562,1586.15000000,0.31817394,sell
1999998,2022-11-02T05:51:08.089593Z,377105561,1586.11000000,0.31524000,sell

In [7]:
df['price'] = pd.to_numeric(df['price'])
df['size'] = pd.to_numeric(df['size'])

df['trade_dollar_size'] = df['price'] * df['size']
df ['change_in_price'] = df['price'].diff()

df[['price', 'size','trade_dollar_size','change_in_price']].describe()

# df['time']=pd.to_datetime(df['time'].astype(str))

df.drop(['trade_id'], axis=1)

,time,price,size,side,trade_dollar_size,change_in_price
0,2022-11-07T00:00:18.306096Z,1566.74,0.300000,sell,470.022000,NaN
1,2022-11-07T00:00:17.88177Z,1566.87,0.146510,sell,229.561904,0.13
2,2022-11-07T00:00:17.639791Z,1566.87,0.006980,sell,10.937176,0.00
3,2022-11-07T00:00:17.476259Z,1566.67,0.300000,sell,470.001000,-0.20
4,2022-11-07T00:00:17.476259Z,1566.67,0.191510,sell,300.033238,0.00
...,...,...,...,...,...,...
1999994,2022-11-02T05:51:08.573635Z,1586.10,0.000007,buy,0.011705,0.01
1999995,2022-11-02T05:51:08.569566Z,1586.10,0.316360,buy,501.778596,0.00
1999996,2022-11-02T05:51:08.31782Z,1586.31,0.627452,sell,995.333398,0.21
1999997,2022-11-02T05:51:08.089593Z,1586.15,0.318174,sell,504.671595,-0.16
1999998,2022-11-02T05:51:08.089593Z,1586.11,0.315240,sell,500.005316,-0.04

In [8]:
# df['time'] = pd.to_datetime(df['time'],utc=True)
# df['time'] = df['time'].values.astype('datetime64[s]')

In [9]:
df.loc[df['side'] == 'sell', 'size'] = df['size'] * -1
df.loc[df['side'] == 'buy', 'size'] = df['size'] * 1

In [10]:
df_describe = df[['price', 'size','trade_dollar_size','change_in_price']].describe()

In [11]:
df_describe.to_csv(r"D:\Trading\Bot\Docs/ETHUSD Trades_Describe.csv",index=False)

In [12]:
df.to_csv(r"D:\Trading\Bot\Docs/ETHUSD Trades.csv",index=False)