In [1]:
import cbpro
import pandas as pd
from pathlib import Path
import time 
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
import pytz
import itertools
from tkinter import *
from tkinter import ttk
import warnings
warnings.filterwarnings('ignore')
warnings.simplefilter('ignore')


client = cbpro.PublicClient()
client.get_product_trades(product_id='ETH-USD')

In [2]:
get_trades = client.get_product_trades(product_id='ETH-USD')

In [3]:
df = list(itertools.islice(get_trades, 5000000))

In [4]:
df = pd.DataFrame(df)

In [5]:
df = pd.DataFrame(df[:-1])

In [6]:
df

,time,trade_id,price,size,side
0,2022-11-13T23:43:07.994247Z,384340124,1219.55000000,0.03383246,buy
1,2022-11-13T23:43:07.881127Z,384340123,1219.68000000,0.00327013,sell
2,2022-11-13T23:43:07.848127Z,384340122,1219.60000000,0.27396715,sell
3,2022-11-13T23:43:07.848127Z,384340121,1219.59000000,0.20095891,sell
4,2022-11-13T23:43:07.64633Z,384340120,1219.59000000,0.20170350,sell
...,...,...,...,...,...
4999994,2022-11-07T14:33:04.401959Z,379340130,1576.77000000,1.62025000,sell
4999995,2022-11-07T14:33:04.401959Z,379340129,1576.75000000,0.71488633,sell
4999996,2022-11-07T14:33:04.401959Z,379340128,1576.74000000,2.85107844,sell
4999997,2022-11-07T14:33:04.401761Z,379340127,1576.66000000,1.62025000,sell
4999998,2022-11-07T14:33:04.401761Z,379340126,1576.64000000,0.43036562,sell

In [7]:
df['price'] = pd.to_numeric(df['price'])
df['size'] = pd.to_numeric(df['size'])

df['trade_dollar_size'] = df['price'] * df['size']
df ['change_in_price'] = df['price'].diff()

df ['change_in_size'] = df['size'].diff()

df['trade_dollar_size'] = pd.to_numeric(df['price'])
df['change_in_price'] = pd.to_numeric(df['size'])
df['change_in_size'] = pd.to_numeric(df['price'])

df[['price', 'size','trade_dollar_size','change_in_price']].describe()

df.drop(['trade_id'], axis=1)

,time,price,size,side,trade_dollar_size,change_in_price,change_in_size
0,2022-11-13T23:43:07.994247Z,1219.55,0.033832,buy,1219.55,0.033832,1219.55
1,2022-11-13T23:43:07.881127Z,1219.68,0.003270,sell,1219.68,0.003270,1219.68
2,2022-11-13T23:43:07.848127Z,1219.60,0.273967,sell,1219.60,0.273967,1219.60
3,2022-11-13T23:43:07.848127Z,1219.59,0.200959,sell,1219.59,0.200959,1219.59
4,2022-11-13T23:43:07.64633Z,1219.59,0.201704,sell,1219.59,0.201704,1219.59
...,...,...,...,...,...,...,...
4999994,2022-11-07T14:33:04.401959Z,1576.77,1.620250,sell,1576.77,1.620250,1576.77
4999995,2022-11-07T14:33:04.401959Z,1576.75,0.714886,sell,1576.75,0.714886,1576.75
4999996,2022-11-07T14:33:04.401959Z,1576.74,2.851078,sell,1576.74,2.851078,1576.74
4999997,2022-11-07T14:33:04.401761Z,1576.66,1.620250,sell,1576.66,1.620250,1576.66
4999998,2022-11-07T14:33:04.401761Z,1576.64,0.430366,sell,1576.64,0.430366,1576.64

,time,trade_id,price,size,side,trade_dollar_size,change_in_price,change_in_size
0,2022-11-13T23:43:07.994247Z,384340124,1219.55,-0.033832,buy,1219.55,0.033832,1219.55
1,2022-11-13T23:43:07.881127Z,384340123,1219.68,0.003270,sell,1219.68,0.003270,1219.68
2,2022-11-13T23:43:07.848127Z,384340122,1219.60,0.273967,sell,1219.60,0.273967,1219.60
3,2022-11-13T23:43:07.848127Z,384340121,1219.59,0.200959,sell,1219.59,0.200959,1219.59
4,2022-11-13T23:43:07.64633Z,384340120,1219.59,0.201704,sell,1219.59,0.201704,1219.59
...,...,...,...,...,...,...,...,...
4999994,2022-11-07T14:33:04.401959Z,379340130,1576.77,1.620250,sell,1576.77,1.620250,1576.77
4999995,2022-11-07T14:33:04.401959Z,379340129,1576.75,0.714886,sell,1576.75,0.714886,1576.75
4999996,2022-11-07T14:33:04.401959Z,379340128,1576.74,2.851078,sell,1576.74,2.851078,1576.74
4999997,2022-11-07T14:33:04.401761Z,379340127,1576.66,1.620250,sell,1576.66,1.620250,1576.66
4999998,2022-11-07T14:33:04.401761Z,379340126,1576.64,0.430366,sell,1576.64,0.430366,1576.64

In [8]:
df.loc[df['side'] == 'buy', 'size'] = df['size'] * -1
df.loc[df['side'] == 'sell', 'size'] = df['size'] * 1

In [9]:
df_describe = df[['price', 'size','trade_dollar_size','change_in_price']].describe()

In [10]:
df_describe.to_csv(r"D:\Trading\Bot\Docs/ETHUSD Trades_Describe.csv",index=False)

In [13]:
df.to_csv(r"D:\Trading\Bot\Docs/ETHUSD Trades.csv",index=False)